@import '../../Vars.scss';

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: $sombra;
}

.ItemDetail{
    background-color:rgb(241, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemDetailContent{
    border: solid #069DBF 2px;
    box-shadow: #4b5253 5px 5px 5px;
    width: calc(80% - 1rem);
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5rem 0;
    // overflow: hidden;
    background-color: rgb(255, 255, 255);
    .ItemDetailImg{
        width: 40%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        img{
            height:29rem;
            width: 25rem;
        }   
    }
    .ItemDetailInfo{
        display: flex;
        height: max-content;
        flex-direction: column;
        width: 60%;
        .ItemDetailTitle{
            width: 85%;
            margin: 2rem;
            border-bottom: solid $sombra 2px;
        }
        .ItemDetailDesc{
            font-size: 1.3rem;
            margin: 0 2rem;
        }
        .ItemDetailPrice{
            font-size:3rem;
            margin: 2rem;
        }
        
    }
}