@import '../../Vars.scss';

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: $blueB;
}

.ItemDetail{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemDetailContent{
    border: solid $blueA 2px;
    box-shadow: #4b5253 5px 5px 10px;
    width: calc(80% - 0.5rem);
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5rem 0;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    .ItemDetailImg{
        width: 40%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 1rem;
        img{
            height:auto;
            width: 100%;
        }   
    }
    .ItemDetailInfo{
        display: flex;
        height: max-content;
        flex-direction: column;
        width: 60%;
        .ItemDetailTitle{
            width: 85%;
            margin: 2rem;
            border-bottom: solid $blueB 2px;
        }
        .ItemDetailDesc{
            font-size: 1.1rem;
            margin: 0 2rem;
        }
        .ItemDetailPrice{
            font-size:3rem;
            margin: 1rem 2rem 0rem 2rem;
        }
        .btnDetailFinish{
            width: 15rem;
            background-color: #fff;
            color: $blueB;
            font-weight: 600;
            border: solid $blueB 2px;
            border-radius: 5px;
            font-size: 1.3rem;
            padding: 10px;
            margin: 1rem ;
        }
        .btnDetailVerMas{
            width: 15rem;
            background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #1e4485 100%);
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1.3rem;
            padding: 10px;
            margin: 1rem 2rem;
        }

        .btnDetailFinish:hover, .btnDetailVerMas:hover{
            transform: scale(1.05);
        }
    }
}

