@import '../../Vars.scss';

.cartIcon{
    color: $blueA;
    padding: 0.7rem 1rem;
    border-radius: 5rem;
    border: solid $blueA 2px;
    font-size: 1.3rem;
    position: absolute;
    right: 5rem;
    top: 2rem;
    span{
        text-decoration: none;
    }
}
