@import '../../Vars.scss';


.SearchBar{
    width:15rem;
    cursor: pointer;
    margin-left: 2rem;
}

.SearchInput{
    outline: none;
    border: none;
    float: left;
    width: 0;
    font-size: 1rem;
    line-height: 40px;
    transition: 0.3s ease;
    background-color: transparent;
}

.SearchBarBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 50%;
    float: left;
    transition: 0.4s ease;
    border: rgb(38, 38, 121) solid 2px;
    border-radius: 50%;
}

.SearchBar:hover{
    border-radius: 30px;
    border: rgb(38, 38, 121) solid 2px;
}

.SearchBar:hover > .SearchInput, .SearchInput:focus{
    width: 10rem;
    margin: 0;
    transition: 1s ease;
}

.SearchBar:hover > .SearchBarBtn, .SearchInput:focus + .SearchBarBtn{
    transform: scale(1.1);
    border: none;
}