@import '../../Vars.scss';


.topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 1rem;
    color: $blueA;
    img{
        height: 5rem;
    }
}

.topnav {
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blueA;
    height: 3rem;
    padding: 0;
    margin: 0;
    z-index: 2000;
    border-bottom: solid rgb(209, 208, 208) 1px;
    a, span {
        float: left;
        display: block;
        text-align: center;
        padding: 0.7rem;
        text-decoration: none;
        font-size: 90%;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        margin-left: 3%;
    }
}


.topnav a:hover{
    background-color: $blueA;
    border-bottom: solid $greenB 10px;
    padding-bottom: 4px;
}


@media screen and (min-width: 835px) and (max-width:1060px) {
    .topnav a, span {
        padding: 14px 10px;
        text-decoration: none;
    }
}

@media screen and (min-width: 831px) and (max-width:977px) {
    .topnav{
        padding: 5px 0px;
        a , span{
            padding: 14px 5px;
            text-decoration: none;
            font-size: 75%;
        }
    }
}   


@media screen and (min-width: 768px) and (max-width:830px) {
    .topnav{
        padding: 5px 0px;
        a , span{
        padding: 14px 5px;
        text-decoration: none;
        font-size: 70%;
        }
    }
}

@media screen and (max-width: 767px) {
    .topnav {
        height: max-content;
        display: block;
    }
}