@import "variables";

.footer{
    background-image: url(../gallery/polygon3_background_footer.png);
    color: $blueA;
    position: relative;
    bottom: 0;
    padding: 80px 45px 80px 45px;
    text-align: left;
    hr{
        border: solid $blueA 1px;
        width: 100%;
    }
    li{
        list-style-type: none;
        margin:5px 0px;
        a{
            color: $blueA;
            font-size: 14px;
            padding: 5px 20px 5px 20px;
            text-decoration: none;
            font-weight: 500;
        }
    }
    span{
        font-size: 25px;
        font-weight: 500;
        font-style: oblique;
    }
    .menu{
        span{
            line-height: 60px;
        }
    }
    .menu a:hover{
        background-color: #D8D7EC; 
        border-radius: 10px;
        color: $greenB;
        text-decoration: none;
        font-weight: 700;
    }
    .social{
        span{
            font-size: 40px;
        }      
        .container__social{
            width: 80%;
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            i{
                font-size: 300%;
                justify-content: space-around;
                color: $blueA;
                padding: 15px;
            }
            i:hover{
                background-color:  #D8D7EC;
                border-radius: 50%;
                color: $greenB;
                font-size: 315%;
            }
        }
    }
    .copyR{
        font-size: 15px;
        width: 90%;
        color: rgb(88, 88, 88);
        position: absolute;
        bottom: 15px;
        text-align: center;
    }
    .maps{
        span{
            line-height: 60px;
        }
        iframe{
            width: 80%;
            height: 70%;
        }
    }
    .atribuciones{
        position: absolute;
        bottom: 0;
        font-size: 40%;
        a{
            color: rgba(169, 169, 169, 0.466);
        }
    }
}

/* ---------- footer pantallas lg------- */
@media (max-width: 991px){
    .maps{
        margin-top: 40px;
        span{
            line-height: 10px;
        }
        iframe{
            width: 50%;
            height: 100%;
        }
    }
}

/* ---------------footer pantallas sm-------- */
@media (max-width:767px) and (min-width:577px){
.social {
    span{
        font-size: 30px;
    }
    i{
        font-size: 250%;
        padding: 10px;
    }
    i:hover{
            font-size: 265%;
    }
    hr{
        width: 100%s;
    }  
}

.maps{
    margin-top: 40px;
}

footer span{
    font-size: 20px;
}

.menu{
    padding-left: 38px;
    hr{
        margin-top: 0;
        margin-left: 20%;
        width: 80%;
    }
    .menu-span{
        line-height: 75px;
        padding-left: 25%;
        text-align: right;
    }
    li{
        text-align: right;
    }
}
}


/* ---------- footer pantallas xs--------- */
@media (max-width:576px){
.maps iframe{
    width: 100%;
}

.menu{
    margin-top: 40px;
}

.container__social{
    width: 60%;
}
}