

.loader{
    display: block;
    span{
        color: #0A6ABF;
        font-size: 2rem;
        font-weight: 600;
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        top: 28rem;
    }
}


.cube{
    z-index: 1;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: anim 2s infinite ease-out;
}

.outerCube{
    width: 10rem;
    height: 10rem;
    background-color: #94F250;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: anim 2s infinite ease-out;
}
.innerCube{
    width: 5rem;
    height: 5rem;
    background-color: #0785F2;
}
.innerCube2{
    width: 2.5rem;
    height: 2.5rem;
    background-color:#94F250;
}

@keyframes anim {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}