@import '../../Vars.scss';
// 069DBF

#itemCount{
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    width: 10rem;
    height:  max-content;
    #counter{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border: solid $blueB 2px ;
        border-radius: 10px;
        align-items: center;
        font-size: 1.3rem;
        .btnItemCount{
            padding: 5px 15px;
            border: none;
            background-color: transparent;
        }
        .btnItemCount:hover{
            background-color: #79c4d4;
            border-radius:5px;
        }
    }
    .btnAgregar{
        // background-color: $blueB;
        background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #1e4485 100%);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1.3rem;
        width: 100%;
        padding: 5%;
        margin: 5% 0;
    }
}

