@import '../../Vars.scss';

#itemCount{
    background-color:#fff;
    margin: 0 2rem;
    height: max-content;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    border: solid #069DBF 2px;
    overflow: hidden;
    .itemCountCant{
        font-size: 1.05rem;
        padding: 0.3rem 0;
        width: 100%;
        justify-content: center;
        margin-bottom: 0.2rem;   
        background-color:none;
        border-bottom: solid #069DBF 2px;
        // border-radius: 0.5rem;
    }
    div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .btnItemCount{
            background-color:#fff;
            border: none;
            color: $sombra;
            font-size: 1rem;
            padding: 0 2.09rem;
        }
        .btnItemCountAdd{
            border-right: solid #069DBF 2px;
        }
        .btnItemCount:hover{
            background-color: #c3e3eb;
        }
    }
}