@import '../../Vars.scss';


.ItemList{
    height: max-content;
    padding: 2rem 5rem;
    background-image: linear-gradient(-180deg, #ffffff 1%, #fae7ff 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    color: $sombra;
    font-size: 1.5rem;
    h2{
        height: 100vh;
    }
}